icon-sofware_libre = "\e600"
icon-altamente_seguro = "\e601"
icon-anterior = "\e602"
icon-aplicaciones_ofimaticas = "\e603"
icon-arepa_linux = "\e604"
icon-ayuda = "\e605"
icon-boton = "\e606"
icon-buscar = "\e607"
icon-buscar_experto-path1 = "\e608"
icon-buscar_experto-path2 = "\e609"
icon-buscar_experto-path3 = "\e60a"
icon-buscar_experto-path4 = "\e60b"
icon-buscar_experto-path5 = "\e60c"
icon-buscar_experto-path6 = "\e60d"
icon-buscar_experto-path7 = "\e60e"
icon-buscar_experto-path8 = "\e60f"
icon-buscar_experto-path9 = "\e610"
icon-buscar_experto-path10 = "\e611"
icon-buscar_experto-path11 = "\e612"
icon-buscar_experto-path12 = "\e613"
icon-buscar_experto-path13 = "\e614"
icon-buscar_experto-path14 = "\e615"
icon-buscar_experto-path15 = "\e616"
icon-buscar_experto-path16 = "\e617"
icon-buscar_experto-path17 = "\e618"
icon-buscar_experto-path18 = "\e619"
icon-buscar_experto-path19 = "\e61a"
icon-buscar_experto-path20 = "\e61b"
icon-buscar_experto-path21 = "\e61c"
icon-buscar_experto-path22 = "\e61d"
icon-buscar_experto-path23 = "\e61e"
icon-buscar_experto-path24 = "\e61f"
icon-buscar_experto-path25 = "\e620"
icon-buscar_experto-path26 = "\e621"
icon-buscar_experto-path27 = "\e622"
icon-buscar_experto-path28 = "\e623"
icon-buscar_experto-path29 = "\e624"
icon-buscar_experto-path30 = "\e625"
icon-buscar_experto-path31 = "\e626"
icon-buscar_experto-path32 = "\e627"
icon-canaima_caribay = "\e628"
icon-canaima_colibri = "\e629"
icon-canaima_comunitario = "\e62a"
icon-canaima_educativo = "\e62b"
icon-canaimaGNU-LINUX = "\e62c"
icon-canaimaGNU-LINUX_blanco = "\e62d"
icon-canaima_popular = "\e62e"
icon-canaima_popular_simbolo = "\e62f"
icon-canaima_universitario = "\e630"
icon-caracteristicas = "\e631"
icon-caribay = "\e632"
icon-cayapa_canaima = "\e633"
icon-colibri = "\e634"
icon-compatibilidad_hardware = "\e635"
icon-componentes_RNA = "\e636"
icon-comunal = "\e637"
icon-css3-path1 = "\e638"
icon-css3-path2 = "\e639"
icon-css3-path3 = "\e63a"
icon-css3-path4 = "\e63b"
icon-css3-path5 = "\e63c"
icon-css3-path6 = "\e63d"
icon-css3-path7 = "\e63e"
icon-css3-path8 = "\e63f"
icon-descarga_canaima_caribay-path1 = "\e640"
icon-descarga_canaima_caribay-path2 = "\e641"
icon-descarga_canaima_caribay-path3 = "\e642"
icon-descarga_canaima_colibri-path1 = "\e643"
icon-descarga_canaima_colibri-path2 = "\e644"
icon-descarga_canaima_colibri-path3 = "\e645"
icon-descarga_canaima_comunitario-path1 = "\e646"
icon-descarga_canaima_comunitario-path2 = "\e647"
icon-descarga_canaima_comunitario-path3 = "\e648"
icon-descarga_canaima_comunitario-path4 = "\e649"
icon-descarga_canaima_comunitario-path5 = "\e64a"
icon-descarga_canaima_educativo-path1 = "\e64b"
icon-descarga_canaima_educativo-path2 = "\e64c"
icon-descarga_canaima_educativo-path3 = "\e64d"
icon-descarga_canaima_geocanaima-path1 = "\e64e"
icon-descarga_canaima_geocanaima-path2 = "\e64f"
icon-descarga_canaima_geocanaima-path3 = "\e650"
icon-descarga_canaima_popular-path1 = "\e651"
icon-descarga_canaima_popular-path2 = "\e652"
icon-descarga_canaima_popular-path3 = "\e653"
icon-descarga_canaima_popular-path4 = "\e654"
icon-descargas-path1 = "\e655"
icon-descargas-path2 = "\e656"
icon-disco_canaima = "\e657"
icon-Django = "\e658"
icon-documentacion = "\e659"
icon-educativo = "\e65a"
icon-equipos = "\e65b"
icon-estar_conectado = "\e65c"
icon-facil_demostracion = "\e65d"
icon-fecha = "\e65e"
icon-forense = "\e65f"
icon-forja_canaima = "\e660"
icon-fotografia_video = "\e661"
icon-geo = "\e662"
icon-geo_canaima = "\e663"
icon-html5-path1 = "\e664"
icon-html5-path2 = "\e665"
icon-html5-path3 = "\e666"
icon-html5-path4 = "\e667"
icon-html5-path5 = "\e668"
icon-html5-path6 = "\e669"
icon-html5-path7 = "\e66a"
icon-html5-path8 = "\e66b"
icon-html5-path9 = "\e66c"
icon-html5-path10 = "\e66d"
icon-html5_logo = "\e66e"
icon-jquery = "\e66f"
icon-libre_virus_espias = "\e670"
icon-logo_css3 = "\e671"
icon-maquina_canaima_instalado = "\e672"
icon-mas_programas = "\e673"
icon-mercado_de_servicios = "\e674"
icon-miembro_hombre = "\e675"
icon-miembro_mujer = "\e676"
icon-miles_aplicaciones_libres = "\e677"
icon-musica_tmoviles = "\e678"
icon-navegando_web = "\e679"
icon-necesito_ayuda = "\e67a"
icon-obten_canaima = "\e67b"
icon-obtener_codigos_fuentes = "\e67c"
icon-organizacion = "\e67d"
icon-Plone_logo = "\e67e"
icon-popular = "\e67f"
icon-porque_usar_canaima = "\e680"
icon-porque_usar_Softlibre = "\e681"
icon-prueba_canaimaAI = "\e682"
icon-que_hay_nuevo = "\e683"
icon-quien_usa_canaima = "\e684"
icon-redesSociales_email = "\e685"
icon-repositorioP_Fcenditel = "\e686"
icon-reuniones = "\e687"
icon-servicios_empresariales = "\e688"
icon-siguiente = "\e68a"
icon-sistema_poderoso = "\e68b"
icon-softwarelibre_CNTI = "\e68c"
icon-software_nuestra_medida = "\e68d"
icon-unirse_canaima = "\e68e"
icon-yo_quiero_aprender = "\e68f"
